.barraCosas{
    border-color: red;
    width: 100%;
    height: 100px;
    display: flex;
}
.espacioLogo{
    width: 350px;
    height: 100px;
    margin-right: 40%;
}
.imagenLogo{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
.espacioT{
    float: right;
    margin-block: 25px;
    font-size: 40px;
}
.espacioBotones{
    
    margin-block: auto;
    width: 50%;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
}
.barraRedic{
    display: flex;
    justify-content: space-around
}
.rediccionar{
    font-size: 30px;
    margin: 20px;
    width: 150px;
}
.textGenero{
    font-size: 33px;
    text-align: center;
    font-weight: bolder;
}
.botonAdeAtr{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}
.centroImagen{
    text-align: center; 
}
.imagenRap {
    display: inline-block; 
    margin: 10px; 
}
.imagenFlamenco {
    display: inline-block; 
    margin: 10px; 
}
.imagenClasico {
    display: inline-block; 
    margin: 10px; 
}
.imagenRanchera {
    display: inline-block; 
    margin: 10px; 
}
.imagenRap img {
    width: 150px; 
    height: auto; 
    border: 2px solid #333;
}
.imagenFlamenco img {
    width: 150px; 
    height: auto; 
    border: 2px solid #333;
}
.imagenClasico img {
    width: 150px;
    height: auto;
    border: 2px
     solid #333;
}
.imagenRanchera img {
    width: 150px; 
    height: auto; 
    border: 2px solid #333;
}
.etiqueta {
    font-weight: bolder;
    color: #333;
}