body {
    background-color: #E9E6E6;
}

.barraLateral{
    position: absolute;
    width: 200px;
    height: 1710%;
    background-color: #90F1E5;
    
}
.informaciones{
    
    margin-left: 250px;
    width: 1000px;
}
.informaciones img{
    width: 80%;
    margin-left: 10%;
    
}

.T656{
   
  margin-bottom: 160px;
  margin-top: 160px;
}

.T657 {
    margin-bottom: 600px;
    margin-top: 600px;
}

.T658 {
    margin-bottom: 1160px;
    margin-top: 1560px;
}
.T659 {
    margin-bottom: 200px;
    margin-top: 200px;
}
.T6510{
    margin-bottom: 1000px;
    margin-top: 1250px;
    
}
.barraLateral h3{
    width: 160px;
    height: 100px;
    opacity: 70%;
    font-size: larger;
}
.barraLateral h3:hover{
    opacity: 100%;
    
}
.cap656 h3:hover{
    animation-duration: 10s;
    animation-name: llenado;
}


@keyframes llenado {
    0%  {background-color: #D80286;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
.cap656 p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
.cap657 h3{
    transition: font-size 3s, background-color 4s;
}  
.cap657 h3:hover{
    font-size: 20px;
    background-color: blue;
}
.cap657 img{    
    animation-name: agrandarImg;
    animation-duration: 6s;
}
@keyframes agrandarImg {
    from {
        margin-left: 0%;
        width: 20%;
      }
    
      to {
        margin-left: 10%;
        width: 80%;
      }
}
.cap658{
    transition: background-image 3s;
}
.cap658 h3:hover{
    background-image: linear-gradient(to left,white,black,white);
}
.cap659 h3:hover{
    animation-name: wiggle;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 3s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes wiggle {
    0%,
    100% {
      transform: translate(0,0);
    }
    25%,
    75% {
      transform: translate(10px,0);
    }
    50% {
      transform: translate(-10px,0);
    }
  }
  
.cap6510 h3:hover {
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 3s;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: scale(1);
      background-color: aquamarine;
    }
    25%,
    75% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
      background-color: aqua;
    }
  }

  .cap6511 h3:hover {
    text-align: right;
  
    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -moz-animation: animacionscrol 10s linear infinite;
    -webkit-animation: animacionscrol 10s linear infinite;
    animation: animacionscrol 10s linear infinite;
  }
  
  
  @keyframes animacionscrol {
    from {
      -moz-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  .cap6511 p:hover{
    animation-name: cambioEstilos;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes cambioEstilos {
    0%{
      font-family: "Lucida Console", "Courier New", monospace;
    }
    10%{
      font-family: Arial, Helvetica, sans-serif;
    }
    30%{
      font-family: "Times New Roman", Times, serif;
    }
    40%{
      font-family: "cursive"; 
    }
    50%{
      font-family: "fantasy";
    }
    60%{
      font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    70%{
      font-family: "Goudy Bookletter 1911", sans-serif;
    }
    80%{
      font-family: system-ui;
    }
    90%{
      font-family: "fantasy";
    }
    0%{
      font-family: "Lucida Console", "Courier New", monospace;
    }
  }

.descripcion{
    margin-left: 250px;
}
.Parte1 {
    margin-bottom: 160px;
    margin-top: 150px;
}
.Parte2 {   
    margin-bottom: 260px;
    margin-top: 500px;
}
.Parte3 {
    margin-bottom: 360px;
    margin-top: 560px;
}
.Parte4 {
    margin-bottom: 460px;
    margin-top: 450px;
}
.Parte5 {
    margin-bottom: 560px;
    margin-top: 660px;
}
.Parte6 {
    margin-bottom: 0px;
    margin-top: 600px;
    
}
.videoIntroduccion {
    border: 2px solid #573909; 
    padding: 5px; 
    width: 400px; 
    margin: 0 auto;
}
.videoIntroduccion video {
    width: 100%; 
    display: block;
}
.Servicio {
    width: auto;
    height: auto;
}
.videoYoutubeProtocolo { 
    width: 420px; 
    margin: 0 auto; 
}
.subtitulo {
    background-color: tomato;
    color: white;
    padding: 10px;
    text-align: center;
} 
#Header {
    background-color: lightblue;
    color: black;
    padding: 35px;
    text-align: center;
}
.centroImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; 
}
